.title {
  font-size: 1.3em;
}

.sub-title {
  padding: 0 0;
  font-size: 0.75em;
  font-weight: normal;
  text-decoration: none;
}

.post {
  margin-top: 20px;
}

.thumbnail {
  margin: 40px 0 40px 0;
}

body {
  color: #ccc;
  background-color: #212121;
  line-height: 1.22em;
}

.page {
  outline: #444;
  font-family: 'Arial', Tahoma, Arial, Helvetica, sans-serif;
  max-width: 744px;
  margin: 0 auto;
}

a:link, a:visited {
  color: #8dc63f;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #5b7d2c;
  text-decoration: underline;
}
